@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Raleway', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://www.xtrafondos.com/wallpapers/estrellas-y-atardecer-en-las-montanas-9053.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.9;
}

body::-webkit-scrollbar {
  width: 7px;
 background-color: #414153;
}

body::-webkit-scrollbar-thumb {
  background:rgba(255, 255, 255, .2);
  border-radius: 20px;
}



